*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #212121;
    color: #fff;
}
/* .container{
   
} */
.cal-area{
    width: 75%;
    height: 65%;
    border: 2px solid white;
    margin: 100px auto;
    align-items: center;
}
.guideline{
    padding: 80px 100px;
    
}